@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us page";
}

<div class="text-center">
    <h1 style="text-decoration: underline;">Welcome Our Website</h1><br><br>
    <h5>Design Your House with our Furnitures</h5><br><br><br>
    <p>Our Product are assure and quality material to make. All product feel you prime in budge range.</p>
</div>