@page
@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us Page";
}

<div class="text-center">
    <h1>Sharma Furniture Store & Workshop</h1><br><br>
    <h5>Ghasundi Bamni, Neemuch, Dis.- Neemuch, Madhay Pradesh, 458441</h5><br><br>
    <p>Mobile- 6264429131 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Whatsapp- 9424804850<br>Email- sharmafurniture6264@gmail.com<br>Instagram- sharma_furniture.2<p>
</div>