@page
@model SearchModel
@{
    ViewData["Title"] = "Search Page";
}

<div class="text-center">
    <label for="search">
        <input type="text" id="search" placeholder="Bad,Sofas,Tables etc." required>
     </label>
     <button value="search"><img src="./Image/search.png" width="30px" height="auto" /></button>
</div>