@page
@model SofasModel
@{
    ViewData["Title"] = "Sofas page";
}

<div>
    <img src="./Image/sofa1.jpg" width="300px" height="300px" />
    <img src="./Image/sofa2.jpg" width="300px" height="300px" style="margin-left:80px;" />
    <img src="./Image/sofa3.jpg" width="300px" height="300px" style="margin-left:80px;" /><br><br><br><br>
    <img src="./Image/sofa4.jpg" width="300px" height="300px" />
</div>